@charset 'utf-8';
@import url("font/font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}
html.active {
  overflow: hidden !important;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 400;
  color: #222;
  word-break: keep-all;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  display: block;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 상단 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0);
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  transition: all 0.5s;
}

.logo {
  position: relative;
  width: 125px;
  height: 30px;
  background: url("../images/logo_white.png") no-repeat center;
  background-size: cover;
  transition: all 0.5s;
}
/* 스크롤 적용 샘플 */
body {
  height: 5000px;
}
.header.active {
  height: 80px !important;
  background: rgba(255, 255, 255, 1) !important;
}

.header.active .logo {
  background: url("../images/logo.png") no-repeat center !important;
  background-size: cover !important;
}
.header.active .gnb a {
  color: #222 !important;
  line-height: 80px !important;
}
.header.active .gnb a span::after {
  background: #222 !important;
}

.nav {
  display: block;
}

.gnb {
  display: flex;
  margin-right: -34px;
  transition: all 0.5s;
}
.gnb > li {
}
.gnb > li > a {
  display: block;
  /* 세로중앙 및 높이 한번 */
  line-height: 100px;

  font-size: 17px;
  font-weight: 500;
  color: #fff;
  padding: 0 34px;
  transition: line-height 0.5s, padding 0.5s;
}
.gnb > li > a > span {
  position: relative;
}
.gnb > li > a > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  width: 0%;
  opacity: 0;
  height: 2px;
  background: #fff;

  transition: width 0.5s, opacity 0.5s;
}
.gnb > li > a:hover > span::after {
  opacity: 1;
  width: 100%;
}

/* 모바일 메뉴 */
.mbt {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  display: none;

  width: 30px;
  height: 23px;

  font-size: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.mbt span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: background 0.3s;
}
.mbt.active span {
  background: #222 !important;
}
.mbt span:nth-child(1) {
  top: 0;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(1) {
  transform: rotate(45deg) !important;
}
.mbt span:nth-child(2) {
  top: 50%;
  transition: opacity 0.3s;
}
.mbt.ani span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s !important;
}
.mbt span:nth-child(3) {
  top: 100%;
  transform-origin: 0 50%;
  transition: transform 0.3s;
}
.mbt.ani span:nth-child(3) {
  transform: rotate(-45deg) !important;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0 30px;
  }
  .logo {
    width: 150px;
  }
  .gnb {
    /* margin-right: -34px  였는데 줄어서 */
    margin-right: -26px;
  }
  .gnb > li > a {
    /* padding: -34px  였는데 줄어서 */
    padding: 0 26px;
  }
}
@media screen and (max-width: 1024px) {
  .logo {
    width: 120px;
  }
  .header {
    height: 70px;
  }
  .gnb {
    display: none;
  }
  /* 모바일 기능 */
  .mbt {
    display: block;
  }
}
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: url("../images/main_visual_3.jpg") no-repeat center;
  background-size: cover;
}

/* 서비스 */
.service {
  position: relative;
  display: block;
}

/* 소개  */
.about {
  position: relative;
  display: block;
}

/* 비즈니스 */
.business {
  position: relative;
  display: block;
}

/* 하단 */
.footer {
  position: relative;
  display: block;
}
